/*CONFIGURAÇÕES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    border: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family:  'Montserrat', sans-serif;
    transition: all 100ms ease-in-out;
}

h1{
    padding-bottom: 20px;
}

 h2{
    font-size: 1rem;
    color: #6c6c6c;
 }

 h3{
    padding: 30px 0px 10px 0px;
 }

 h4{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: justify;
 }

 h5{
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;

 }


p{
    line-height: 1.5rem;
    text-align: justify;
}

section{
    padding: 60px;
}

body{
    background-color: rgb(255, 255, 255);
}


/*HEADER*/
header{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100vw;
    padding: 20px 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    
}


nav{
    margin-right: 10px;
    color: #353333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;

}

.menu{
    display: flex;
    flex-direction: row;
}

/*HOME*/
.home{
    background-image: url(src/Background1.png);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*sobre mim*/
.sobremim{
    background: #ebebee;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.esquerda{
    padding-right: 40px;
}

/*especialização*/
.especializacao{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
display: flex;
flex-direction: row;
}

.colunas{
    display: flex;
    flex-direction: column;
    width: 358px;
    padding: 60px 20px 0px 20px;
}

/*depoimentos*/

.depoimentos{
    background: #ebebee;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 150px;
}

.depoimentos h2{
    padding-top: 20PX;
}

/*conversar*/

.conversar{
    background-image: url(src/bac2.png);
    display: flex;
    align-items: center;
    flex-direction: column;

}

a{
    border: #fff 2px solid;
    padding: 10px 15px ;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    
}

a:hover{
    background: #fff;
    color: #353333;
}
